#dex-title {
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 55px;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 50px;
    border-bottom: 3px solid #e46e51ff;
    color: #e46e51ff;
}


.card {
    list-style:none;
    margin: 0;
    padding: 40px;
    color: #e46e51ff;
    background-color: #FFE1A8;
    border-radius: 15px 50px 15px;
    border: 2px solid #e46e51ff;
}

.card-title {
    text-transform: capitalize;
    margin-bottom: 5px;
}


.card-subtitle {
    text-transform: capitalize;
}

.card-image {
    height: 120px;
}

/*CARD ENDS*/

/*GENERATION SELECT BEGIN*/
.pokedex-gens-btns {
    text-align: center;
    margin-bottom: 30px;
}

.pokedex-gens-btns button {
    display: inline;
    color: #e46e51ff;
    margin: 10px 15px;
    font-weight: bold;
    font-size: 18px;
    padding: 5px;
    background-color: #FFE1A8;
    border-radius: 10px;
    border: 3px solid #e46e51ff;
}
/*GENERATION SELECT END*/


#pokedex {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    text-align: center;
    grid-gap: 30px;
}
