* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}


body {
    font-family: Helvetica, Arial, sans-serif;
    background-color:  #8ed4d7ff;
    color: #FFE1A8;
}

section {
    padding: 25px 30px;
}

/*HEADER BEGIN*/
header {
    background-color: #e46e51ff;
    padding-left: 45px;
    padding: 25px;
    height: 120px;
    width: 100%;
    margin-bottom: 30px;
}

header nav {
    float: right;
    position: relative;
    margin:  0 auto;
    padding: 15px;
}

header h1 {
    font-size: 55px;
    display: inline;
    margin: 0;
}

header ul {
    font-size: 36px;
    list-style-type: none;
    display: inline;
    
}

header ul li {
    display: inline;
    padding: 0 10px;
}

header ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #FFE1A8;
}
/*HEADER END*/

/* TEAM-PLANNER BEGIN */
.team-planner-title {
    font-size: 55px;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 30px;
    border-bottom: 3px solid #e46e51ff;
    color: #e46e51ff;
}

.team-planner-section {
    margin: 0 auto;
    text-align: center;
    padding: 0 50px 10px;
}

.team-planner{
    min-width: 540px;
    height: 600px;
    border-radius: 25px;
    padding: 5px;
    
}

.team-planner-slots {
    display: inline-block;
    margin-bottom: 30px;
}

.display-slot {
    background-color: #FFE1A8;
    display: inline-block;
    padding: 10px;
    line-height: 3;
    margin: 10px 10px;
    border-radius: 15px;
    border: 2px solid  #e46e51ff;
}

.display-slot img {
    /*background-color: #e46e51ff;*/
    display: inline;
    min-width: 64px;
    max-width: 64px;
    }

.display-slot h4 {
    color: #e46e51ff;
    font-weight: bold;
    font-size: 18px;
    display: block;
}

.team-slot {
    color: #e46e51ff;
    padding-left: 30px;
    padding-right: 30px;
    
}

#selected-slot {
    margin: 0 auto;
    background-color: #FFE1A8;
    text-align: center;
    border: 3px solid  #e46e51ff;
    border-radius: 15px; 
    min-width: 540px;
    max-width: 824px;
}

#selected-h4 {
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    color: #e46e51ff;
    font-size: 30px;
    text-transform: capitalize;
}

#selected-img {
    display: inline;
}
/* TEAM-PLANNER END */

/*FOOTER BEGIN*/
footer {
    background-color:   #e46e51ff;
    width: 100%;
    padding: 20px 35px;
    bottom: 0; 
      
}

footer h2 {
    display: inline-block;
    color: #FFE1A8;
    font-size: 34px;
    margin: 0;
}

footer div {
    float: right;
    text-align: right;
    line-height: 1.5;
}

footer a {
    color: #FFE1A8;
    text-decoration: none;
    font-size: 28px;
}
/*FOOTER END*/


